.mozilla
nx
.local
.Xauthority
.Xclients
.bash_logout
.bash_profile
.bashrc
.cache
.config
.dir_colors
.dmenurc
.dmrc
.esd_auth
.gtkrc-2.0
.icons
.moc
.thumbnails
.viminfo
.xsession-errors
.xsession-errors.old
.zcompdump
.zhistory
.zshrc
Documents
Pictures
.gitconfig
